body {
    margin: 0;
    background-color: #fff;
    font-family: "Open Sans", Arial;
}

*,
:before,
:after {
    box-sizing: border-box;
}

.header {

    width: 100%;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container {

    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

/*menu*/



.brandly{

}

.nav {
    display: flex;
    font-size: 17px;
    font-weight: 400;

}

.nav-link {
    margin-left: 75px;
    color: #ffffff;
    opacity: .75;
    text-decoration: none;
    transition: opacity .2s;
}


.nav-link:hover {
    opacity: .5;

}

/*slider*/
.slider {
    width: 100%;
    height: 932px;
    background: #a7a8ad url(images/color_overlay.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;


}

.slider-text {
    text-align: center;
    text-transform: uppercase;
    margin: 240px 0;



}

.slider-text1 {

    font-size: 30px;
    font-weight: 300;
    color: rgba(255, 255, 255, .5);
    margin-bottom: 24px;
    letter-spacing: 10px;
    text-align: center;

}

.slider-text2 {

    font-size: 60px;
    font-family: "Lato", Arial;
    margin-bottom: 28px;
    color: #ffffff;

    text-align: center;
}

.slider-text3 {
    font-size: 30px;
    font-weight: 300;
    color: rgba(255, 255, 255, .5);
    margin-bottom: 28px;
}

.btn-slider {
    display: block;
    max-width: 200px;
    height: 60px;
    margin-right: auto;
    margin-left: auto;
    font-size: 18px;
    font-family: "Lato", Arial;
    color: #ffffff;
    padding: 18px 48px;
    border: 2px solid #ffffff;
    text-decoration: none;
    text-align: center;
    transition: opacity .2s;
    margin-top: 44px;

}

.btn-slider:hover {

    opacity: .5;
}

.dots {
  display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    align-items: center;

    width: 80px;

}
.slider-dots{
    height: 11px;
    width: 11px;
    background-color: #ffffff;
    border-radius: 50%;

}
.slider-dots-solid{
    height: 15px;
    width: 15px;
    background-color: transparent;
    border-radius: 50%;
   vertical-align: middle;
    border: 2px solid #ffffff;
}

/*latest*/
.latest {
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;

}

.title {
    font-size: 40px;
    font-style: italic;
    flood-color: #333333;
    text-align: center;
}

.section-title {
    text-align: center;
    padding: 23px 0;
    position: relative;
}

.section-title:before {
    content: '';
    display: block;
    width: 112px;
    height: 3px;
    background: #dc0000;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50px;
}


.section-title:after {
    content: '';
    display: block;
    width: 112px;
    height: 3px;
    background: #dc0000;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -55px;
}

/*collections*/

.latest {
    max-width: 1170px;
    width: 100%;

}

.collections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 60px;
    margin: 0 -15px;
}

.collections-item {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    width: calc(33% - 30px);
}
.collections-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.collections-item h2 {
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    color: #ffffff;
    font-weight: 300;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.collections-item:after {
    position: absolute;
    top: 31px;
    right: 27px;
    bottom: 31px;
    left: 27px;
    border: 3px solid #ffffff;
    content: '';
}

/*new-autumm*/
.new-autumm {
    position: relative;
    display: inline-block;
    line-height: 0;
    margin: 30px 15px 0;
    width: calc(50% - 30px);
}

.new-autumm-title {

    position: absolute;
    width: 100%;
    margin-top: -54%;

    text-align: center;
    font-family: 'Lato';
    font-size: 29px;
    font-weight: 900;
    line-height: 0.5;

    color: #fff;
}

.new-autumm-title:before{
    content: '';
    display: block;
    height: 1px;
    width: 195px;
    background: #fff;
    margin: 0 auto;
}
.new-autumm-title:after{
    content: '';
    display: block;
    height: 1px;
    width: 195px;
    background: #fff;
    margin: 0 auto;
}

.mega-sale-title:before{
    content: '';
    display: block;
    height: 1px;
    width: 195px;
    background: #fff;
    margin: 0 auto;
}
.mega-sale-title:after{
    content: '';
    display: block;
    height: 1px;
    width: 195px;
    background: #fff;
    margin: 0 auto;
}

/*mega-sale*/
.mega-sale {
    position: relative;
    display: inline-block;
    line-height: 0;
    margin: 30px 15px 0;
    width: calc(50% - 30px);
}

.mega-sale-title {

    position: absolute;
    width: 100%;
    margin-top: -55%;
    padding-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
    font-family: lato;
    font-size: 30px;
    line-height: 0.5;
    font-weight: 900;
    color: #fff;
}

/*tranding*/

.tranding {

    width: 100%;
    margin: 0 auto;
    background: url(images/tranding.jpg) center no-repeat;
}

.tranding-title {
    padding-top: 60px;
    font-size: 40px;
font-style: italic;
    flood-color: #333333;
    text-align: center;
}

.tranding-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tranding-image {
    background: center no-repeat;
    width: 50%;
}

.tranding-text {
    display: block;
    padding-left: 15px;
    width: 50%
}

.tranding-text p {
    font-family: lato;
    font-size: 18px;
    font-weight: 400;

    color: #777777;

}

.tranding-text h2 {
    font-family: lato;
    font-weight: 700;
    font-size: 30px;
    color: #dc0000;
}

.tranding-text h3 {
font-weight: 400;
    font-size: 18px;
    color: #777777;
}

.tranding-sizes {
    display: flex;
    width: 100%;
    margin-top: 95px;
    margin-left: 0;
}

.tranding-sizes-text {
    display: block;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-right: 1px solid #b0b0b0;
    border-left: 1px solid #b0b0b0;
    height: 50px;
    width: 70px;
    padding-top: 15px;
    margin-right: 30px;
font-size: 16px;
    font-weight: 400;
    color: #333333;
    text-decoration: none;
    text-align: center;
    transition: background-color .5s linear;
}

.tranding-sizes-text:hover {
    color: #fff;
    background-color: #333333;

}

.tranding-sizes-button {
    display: flex;
    margin-top: 30px;
    width: 100%;
}

.tranding-sizes-buttons {
    display: block;
    width: 170px;
    height: 50px;
    border: 1px solid #333333;
    padding-top: 15px;
    margin-right: 30px;
font-size: 16px;
    font-weight: 400;
    color: #333333;
    text-decoration: none;
    text-align: center;
    transition: background-color .5s linear;
}

.tranding-sizes-buttons:hover {
    color: #fff;
    background-color: #333333;
}

.tranding-dots {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding: 60px 0 60px;
    width: 80px;

}
.tranding-dot{
    height: 11px;
    width: 11px;
    background-color: #878787;
    border-radius: 50%;

}
.tranding-dot-solid{
    height: 15px;
    width: 15px;
    background-color: transparent;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid #dc0000;
}
/*blog*/
.blog {}

.blog-title {
    font-size: 40px;
font-style: italic;
    flood-color: #333333;
    text-align: center;
    margin-bottom: 63px;
}

.blogs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.blogs h2{
}

/*blog-left*/
.blog-left {
    display: block;
    width: 50%;

}

.blog-left h2 {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    color: #dc0000;
    margin-bottom: 10px;

}

.blog-left h3 {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    color: #333333;


}

.blog-left p {
font-weight: 300;
    font-size: 18px;
    color: #333333;
}


.line:before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #ecf0f1;
    margin-top: 5px;
    margin-bottom: 35px;
}


.line:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #ecf0f1;
    margin-top: 30px;



}

.blog-button {
    display: inline-block;
    width: 170px;
    height: 50px;
font-weight: 700;
    font-size: 16px;
    color: #333333;
    border: 1px solid #333333;
    text-decoration: none;
    text-align: center;
    padding-top: 15px;
    margin-top: 7px;
    margin-bottom: 60px;
    transition: background-color .5s linear;

}
.blog-button:hover {
    color: #fff;
    background-color: #333333;
}

/*blog-right*/
.blog-right {
    padding-left: 15px;
    display: block;
    width: 50%;
}

.blog-right h2 {
    font-family: Lato;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    color: #dc0000;
    margin-bottom: 10px;


}

.blog-right h3 {
    font-family: Lato;
    font-weight: 400;
    font-size: 16px;
    color: #333333;

}

.blog-right p {
font-weight: 300;
    font-size: 18px;
    color: #333333;
}

/*arrows*/
.arrows {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    top: 30%;
    left: -125px;
    right: -125px;
}

/*subscribe*/
.subscribe {
    height: 250px;
    background: #5a5c66 url(images/subscribe.jpg) center no-repeat;
}

.subscribe-email {
    position: relative;
    display: inline-block;
    margin-right: auto;
    width: 770px;
    height: 50px;
    border: 1px solid #fff;
    background: url(images/email.png) no-repeat 30px 17px transparent;
    font-weight: 300;
    font-size: 13px;
    color: #ffffff;
    padding-left: 80px;

}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
}

.subscribe-text {
    display: inline-block;
    margin-top: 75px;
    font-weight: 300;
    font-size: 18px;
    color: #ffffff;
}

.subscribe-button {
    display: inline-block;
    float: right;
    width: 270px;
    height: 50px;
    background-color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    text-align: center;
    border: none;
}

/*footer*/
.footer {
    height: 160px;
}

.footer-text {
    display: block;
    font-family: Lato;
    font-weight: 400;
    font-size: 18px;
    color: #333333;
    text-align: center;
    padding-top: 70px;
}
.heart{
    margin-right: 15px;
    margin-left: 7px;
}
